#logo{
	width:107px;
	height:23px;
	float:left;
	margin-left:60px;
	margin-top:10px;

}
.top{
	width:100%;
	height:60px;
	float:left;
}
#top-1{
	width:567px;
	height:60px;
	text-align:center;
	float:left;
}
#top-2{
	width:567px;
	height:30px;
	margin-top:10px;
	margin-left:30px;

}
#top-3{
	width:350px;
	height:30px;
	margin-left:200px;
	margin-top:5px;

	text-align:center;
	float:left;
}
.length{
	margin-left:30px;
}
#search-box {
  font-size: 13px;
  width: 120px;
  background: #E6E6E6 url('../picture/search.gif') no-repeat 3px 3px;
  padding: 3px 3px 3px 22px;
}
#min{
	width:100%;
	height:474px;
}
.minpage{
	width:100%;
	height:470px;
}
#min2{

	width:100%;
	height:158px;
	margin-top:50px;
}
.min2-1{
	width:440px;
	height:158px;
	text-align:center;
	float:left;
	margin-left:2px;
	background-color:#DDDDDD;

}
.in1{
	width:250px;
	height:80px;
	margin-top:30px;

	float:left;
}
h1{
	font-size:20px;
}
.in2page{
	width:160px;
	height:158px;
	float:left;
}
.min2-2{
	width:430px;
	height:158px;
	text-align:center;
	float:left;
	margin-left:1px;
	background-color:#DDDDDD;

}
#bottom{
	width:100%;
	height:485px;
  color:#FFFFFF;


}
#bottom-1{
	width:671px;
	height:482px;
	background-image:url('../picture/carmera.jpg');
	background-size:671px 480px;
	float:left;
}
#bottom-2{

	width:300px;
	height:100px;
	padding-top:400px;
	padding-left:20px;

}
#bottom-3{

        width:650px;
        height:240px;
				margin-left:10px;
				float:left;
}
#bottom-3-1{
	width:320px;
  height:240px;
	background-image:url('../picture/pic5.jpg');

	float:left;
}
.b3{
	width:300px;
  height:60px;
	padding-top:200px;
}
#bottom-3-2{
	width:325px;
  height:240px;
	background-image:url('../picture/ca3.jpg');
	background-size:325px 240px;
	margin-left: 1px;

	float:left;
}
#bottom-4{

        width:650px;
        height:480px;
				display: inline-flex;
				margin-top: 2px;
				margin-left: 10px;
}

#bottom-4-1{
	width:320px;
  height:240px;
	background-image:url('../picture/c2.jpg');
	background-size:320px 240px;

}
#bottom-4-2{
	width:325px;
  height:240px;
	background-image:url('../picture/camera4.jpg');
	background-size:325px 240px;
	margin-left:1px;

}

#footer{
	width:100%;
	height:408px;
	background-color: #DDDDDD;
	float:left;
}
