body{
	padding: 0px;
	margin: 0px;

}
#logo{
	width:107px;
	height:23px;
	float:left;
	margin-left:60px;
	margin-top:10px;

}

#top-1{
	width:1200px;
	height:60px;
	margin-left: auto;
	margin-right: auto;
}
#top-2{
	width:432px;
	height:30px;
	margin-top:18px;
	margin-left:30px;
	float:left;

}
.top-3{
	width:250px;
	height:30px;
	margin-left:229px;
	margin-top:20px;
	float:left;
}
.length{
	margin-left:30px;
}
#search-box {
  font-size: 13px;
  width: 120px;
  background: #E6E6E6 url('../picture/search.gif') no-repeat 3px 3px;
  padding: 3px 3px 3px 22px;
}
.min{
	width:100%;

}
.minpage{
	width:100%;
	margin-top: 2px;
}
#min2{

	width:100%;
	height:158px;
	margin-left: auto;
	margin-right: auto;
}
.min2-1{
	width:33%;
	text-align:center;
	float:left;
	margin-left:4px;
	margin-top:2px;
	background-color:#DDDDDD;

}
.in1{
	width:250px;
	height:80px;
	margin-top:30px;

	float:left;
}
h1{
	font-size:20px;
}
.in2page{
	width:40%;
	height: 100%;
	right: 0;
  left: auto;
	float:left;
}
.min2-2{
	width:430px;
	height:158px;
	text-align:center;
	float:left;
	margin-left:1px;
	background-color:#DDDDDD;

}

#bottom{
	width:100%;
	height:552px;
  color:#FFFFFF;
	margin-top:5px;

}
#bottom-1{
	width:50%;
	height:100%;
	position: relative;
	background-size: cover;
  background-position: 50% 50%;
	background-image:url('../picture/carmera.jpg');
	overflow: hidden;
	float:left;
}
#bottom-2{
	position: absolute;
	width:300px;
	height:100px;
	padding-top:400px;
	padding-left:27px;

}
#bottom-3{
				position: relative;
        width:49%;
        height:50%;
				margin-left:4px;
				float:left;
}
#bottom-3-1{
	width:49%;
	height:100%;
	background-image:url('../picture/pic5.jpg');
	background-size: cover;
  background-position: 50% 50%;
	overflow: hidden;
	float:left;
}
.b3{
	width:300px;
  height:60px;
	padding-top:200px;
	padding-left:27px;
	position: absolute;
}
#bottom-3-2{
	width:50%;
	height:100%;
	background-image:url('../picture/ca3.jpg');
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
  background-position: 50% 50%;
	overflow: hidden;
	margin-left: 4px;

	float:left;
}
#bottom-4{

        width:49%;
        height:50%;
				float:left;
				margin-top: 4px;
				margin-left: 4px;
				position: relative;
}

#bottom-4-1{
	width:49%;
	height:99%;
	background-image:url('../picture/c2.jpg');
	background-size:100% 100%;
	background-size: cover;
  background-position: 50% 50%;
	overflow: hidden;
	float:left;
}
#bottom-4-2{
	width:49%;
	height:99%;
	background-image:url('../picture/camera4.jpg');
	background-size:100% 100%;
	margin-left:4px;
	background-size: cover;
  background-position: 50% 50%;
	overflow: hidden;
	float:left;
}

#footer{
	width:100%;
	height:408px;
	background-color: #DDDDDD;
	margin-top:2px;
	float:left;
}
#footer2{
		width:1153px;
		height:376px;
		margin-left:auto;
		margin-right:auto;
}
.footer-1{
		width:20%;
		height:260px;
		margin-left: 5%;
    margin-top: 16px;
		float:left;

}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}
ul li{

			width: 200px;
			height:20px;
			font-size: 10px;
			color: #888888;

}
#footer-2{
		width:1056px;
		height:20px;
		margin-left: auto;
		margin-right: auto;
}

.f3{
	width:150px;
	height:20px;
	float:left;

}
.footer-3{
 	width:530px;
	height:20px;
	margin-left: 631px;


}
