body{
  margin:0px;
  padding:0px;
}
#header{
  width: 100%;
  height:73px;
  background-color:#FFFFFF;
  #position:fixed;
  top:0px;
}

.header1{
  width: 100%;
  height:7px;
  background-color: #AA0000;
}

#top{
  max-width: 1160px;
  width:100%;
  height:60px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

}
.top1{
      text-decoration:none;
      float:left;
}
#top2{
  width:652px;
  height:60px;
  font-size:17px;
	float:left;
	margin-top: 5px;
  margin-right: 10px;

}
#topcolor{
	width:100%;
	height: 2px;
	margin-top: 4px;
	background-color: #666666;
}
ul{
  list-style-type:none;
	display:flex;
  justify-content: space-between;
	text-align: center;

}
ul li a{
    text-decoration:none;
    color:#AA0000;
}



ul li a::after{
		#color:#33FF33;
		content: "";
    display: none;
    width: 100%;
    height: 3px;
		background-color: #AA0000;
    margin-top: 2px;

}
ul li a:hover{
	color:#ef7c6b;
}
ul li a:hover::after{

	display: block;

}

#min{

    width:100%;
		height:450px;
}
.min-1{
		max-width: 100%;
		height: 100%;
}
#min2{
	width: 90%;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
	padding: 80px 20px;
	display: flex;
	justify-content: space-between;
}
.min2-1{
	width:30%;
	height: 364px;
	text-align: center;
}
h2{
	margin-top: 1.5em;
}
p{
	margin-top: 1.5em;
}

.min2a a{
	text-decoration:none;
	color:#AA0000;
	padding: 5px 50px;
	border:1px #AA0000 solid;
	border-radius: 10px;
}
.min2a a:hover{
			background-color: #AA0000;
		  color:#FFFFFF;
			transition: 0.5s;
	}
  #min3{
  	width: 100%;
  	height: 344px;
  	text-align: center;
  	background-color: #e8e8e8;
  }
  #min3-1{
  	width: 70%;
  	height: 184px;
  	padding: 80px;
  	margin-left: auto;
  	margin-right: auto;
  }
  #min3-1 a{
  	text-decoration:none;
  	color:#FFFFFF;
  	padding: 10px 50px;
  	background-color: #AA0000;
  	#border:1px #AA0000 solid;

  }
  #min3-1 a:hover{
  			background-color: #FFFFFF;
  		  color:#AA0000;
  			border:1px #AA0000 solid;
  			transition: 0.5s;
  	}

#min3-2{
  		width: 200px;
  		height: 40px;
  		margin-left: auto;
  		margin-right: auto;
  		margin-top: 32px;

}

#bottom{
	width: 100%;
	height:1272px;
	margin-bottom: 100px;
}
#bottom-1{
	width: 100%;
	height:50%;
	padding: 60px 0px;
	#margin-top: 60px;

}
#bottom-1 h2{
	margin: 0px;
}
#b2{
	width: 95%;
	height:45%;
	padding: 15px 0px;
  margin-left: auto;
  margin-right: auto;
}
#b2 p{
	font-size:17px;

}
.s1img{
	max-width: 47%;
  #height:300px;
	padding-top:16px;
  float: left;
}
.b2{
  width: 45%;
  height:90%;
  float:left;
  margin-left: 20px;
  margin-top: 20px

}
.b2 a{
	text-decoration:none;
	color:#AA0000;
}
.b2 a:hover{
	color:#ef7c6b;
	transition: 0.5s;
}
.b2 h3{
  margin: 0px;
}
h5{
	margin-top: 3px;
}
#b3-1{
    margin-top: 0px;
}

#b3{
	width: 95%;
	height:45%;
	padding: 10% 0px;
  margin-left: auto;
  margin-right: auto;
}
#b3 p{
	font-size: 17px;

}
p{
	margin-top: 2px;
}
.s2img{
  max-width: 47%;
  float: left;

}
.b3a{
	width: 540px;
	height: 30px;
  margin-top: 324px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.b3a a{
	text-decoration:none;
	color:#FFFFFF;
	padding: 10px 50px;
	background-color: #AA0000;
	#border:1px #AA0000 solid;

}
.b3a a:hover{
			background-color: #FFFFFF;
		  color:#AA0000;
			border:1px #AA0000 solid;
			transition: 0.5s;
}

#bottom-2{
	width: 95%;
	height:50%;
	padding: 215px 0px;
	#margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

}
#bottom-2 h2{
	margin:0px;

}
.bottom22{
	max-width:30%;
	height:301px;
	padding: 6px 0px;
  margin-right: 5%;
  float: left;

}
.s3img{
	width:100%;
	height: 187px;

}
#bottom22-3{
  margin-right: 0px;
}
.bottom3{
	width: 270px;
	height: 80px;
	#float:left;
}
.bottom3 a{
	text-decoration:none;
	color:#AA0000;
}
.bottom3 a:hover{
	color:#ef7c6b;
	transition: 0.5s;
}
.font{
	font-size: 13px;

}
.bottom3 p{
	font-size: 17px;
}




#footer{
    width: 100%;
    height: 165px;
    margin-top: 361px;

    background-image: url(http://hs03.dev3.hellosanta.tw/sites/default/files/styles/banner/public/03.jpg?itok=lDrZZ2qJ&c=3fd7ff9…);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#footer2{
  width: 800px;
  height: 125px;
  font-size: 18px;
  text-align: center;
  padding-top:25px;
  margin-left: auto;
  margin-right: auto;
}
#footer2 a{
		text-decoration:none;
		color:#b10104;
		font-weight:bold;
}
#footer3{
	width: 400px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
}
#footer4{
	width: 167px;
	height: 40px;
	margin: 14px auto;
	display: flex;
	justify-content: space-between;
}
#footer4 a {
    color:#FFFFFF;
		background-color: #AA0000;
		padding-top: 5px;
		width: 38px;
		height: 34px;
		border-radius:50%;
		font-size: 15px;
}
#footer4 a:hover{
		color:#AA0000;
		background-color: #FFFFFF;
		transition:0.5s;
}
