body{
  margin: 0px;
  padding: 0px;
}
#header{
  width:100%;
  display: block;
  //position:fixed;
}
#header1{
    max-width: 1220px;
    height: 100px;
    margin: 0 auto;
    height:100px;
    display: flex;
    justify-content: space-between;
}
.header-ig1{
  width:174px;
  margin-left: 10px;
}
#header-1{
  width: 236px;
  height:60px;
  margin-top: 25px;
  color:#999999;
  font-size: 13px;
  display: flex;
  margin-right: 10px;
}
#header-2{
  width: 177px;
  height:50px;
}
#header-2 a span{
  font-size: 24px;
  color:#000000;
  font-weight:bold;

}
#header-2 a{
  text-decoration:none;
}
#header2{
  width:100%;
  height:50px;
  background-color:#ffd256;
}
.wrap{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
#wrap2{
  width: 800px;
  padding: 0px;
  display: flex;
  list-style-type:none;
  justify-content: space-between;

}
#wrap2 li a{
  color: #333;
  height: 23px;
  font-size: 16px;
  text-decoration:none;
}


#Multiple-a{
  width:250px;
  //margin-top: 15px;
  display: flex;

}
#Multiple-a a{
  color: #ffffff;
  width:50px;
  height:50px;
  font-size: 21px;
  text-align: center;

}
#Multiple-a a i{
  line-height: 50px;
}

#Multiple-a .ig:hover{
  background-color: #D82D82;
}
#Multiple-a .youtube:hover{
  background-color: #EE1C1A;
}
#Multiple-a .pixnet:hover{
  background-color: #0e2990;
}
#Multiple-a .line:hover{
  background-color:green;
}
#Multiple-a .facebook:hover{
  background-color: #3a5896;
}




#min1{
  width:100%;
  position:relative;
}
#min1 img{
  width:100%;

}
#min1-1{
  top:30%;
  left:35%;
  line-height: 2;
  max-width:1200px;
  position: absolute;
  text-align: center;


}

#fontstyle{
  color:#003300;
  font-size: 51px;
  font-weight: bold;
}
.fontstyle2{
  color:#333333;
  font-size: 26px;
  font-weight:bold;
  margin-bottom:10px;
}
.box{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}
#min2{
    margin-top: 40px;

}
#boxflex{
  width: 100%;
  display: inline-flex;
  justify-content:space-between;
}
.titlebox{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.title{
  font-size: 44px;
  color: #ffc82b;
}
.title2{
  font-size: 44px;
}
.titlebox h2{
  font-size: 24px;
  font-weight: normal;
  color: #666;

}
.boxcontect{
  width: 378px;
  border:1px solid #dddddd;
  background: #fff;
}
.boxcontect img{
  display: block;
  max-width: 100%;
  height: auto;
}
.boxcontect2{
  padding: 20px 30px;
}
.boxcontect2 span a{
  color: #091630;
  font-size: 20px;
  font-weight: normal;
  text-decoration:none;
}
.boxcontect2 .date{
  margin-top:25px;
  font-size:13px;
  color: #a5a5a5;
}
.boxcontect2-p{
  margin-top: 10px;
  font-size: 10px;
  color: #555555;
  line-height: 20px;
  height:40px;
}


#center{
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 128px;
}
